<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>thebackyardfilms</title>

  <!--- favicon-->

  <!--- custom css link-->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/dark.css' %}">
  <link rel="stylesheet" href="">  

  <!--- google font link-->
  <link rel="preconnect" href="https://fonts.googleapis.com">   
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8cd66be402.js" crossorigin="anonymous"></script>
</head>

<body id="top">

  <!--- #HEADER-->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="./index.html" class="logo">
        {% comment %} <img src="./assets/images/logo.svg" alt=""> {% endcomment %}
        <p class="hero-subtitle">thebackyardfilms</p>
      </a>
      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-three"></ion-icon>
      </button>
      <nav class="navbar" data-navbar>
        
        <div class="navbar-top">
          
          <a href="./index.html" class="logo">
            {% comment %} <img src="{% static 'assets/images/logo.svg' %}" alt="Filmlane logo"> {% endcomment %}
            <p class="hero-subtitle">thebackyardfilms</p>
          </a>

          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="./index.html" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Projects</a>
          </li>

          <li>
            <a href="#" class="navbar-link">About</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Team</a>
          </li>
          
          <li>
            <a href="#" class="navbar-link">Pricing</a>
          </li>
          <li>
            <a href="#" class="navbar-link">Contact</a>
          </li>
          <div class="toggle" >        
            <input type="checkbox" class="checkbox" id="checkbox" >
            <label for="checkbox" class="label" onclick="toggleTheme()">
              <i class='fas fa-sun'></i>
              <i class="fas fa-moon"></i>
              <div class='ball' ></div>
            </label>   
          </div>
        </ul>

        <ul class="navbar-social-list">

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero">
        <div class="container">

          <div class="hero-content">

            <h2 class="h2 hero-title">
              We are your <strong>go-to solution</strong> for corporate & creative videos, promotional event videos,& More.
            </h2>           

            <button class="btn btn-primary">
              <ion-icon name="play"></ion-icon>
              <span>Get started</span>
            </button>

          </div>

        </div>
      </section>
      <!-- 
        - #UPCOMING
      -->

      <section class="upcoming">
        <div class="container">

          <div class="flex-wrapper">
            <div class="title-wrapper">
              <h2 class="h2 section-title">Upcoming Projects</h2>
            </div>
          </div>
          <ul class="movies-list  has-scrollbar">
            <li>
              <div class="movie-card">
                <div>
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/upcoming-1.png' %}" alt="The Northman movie poster">
                  </figure>
                </div>

                <div class="title-wrapper">
                  <div>
                    <h3 class="card-title">The Northman</h3>
                  </div>
                  <time datetime="2022">2022</time>
                </div>
              </div>
            </li>

            <li>
              <div class="movie-card">

                <div>
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/upcoming-2.png' %}"
                      alt="Doctor Strange in the Multiverse of Madness movie poster">
                  </figure>
                </div>

                <div class="title-wrapper">
                  <div>
                    <h3 class="card-title">Doctor Strange in the Multiverse of Madness</h3>
                  </div>

                  <time datetime="2022">2022</time>
                </div>

              </div>
            </li>

            <li>
              <div class="movie-card">

                <div>
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/upcoming-3.png'%}" alt="Memory movie poster">
                  </figure>
                </div>

                <div class="title-wrapper">
                  <div >
                    <h3 class="card-title">Memory</h3>
                  </div>

                  <time datetime="2022">2022</time>
                </div>

              </div>
            </li>

            <li>
              <div class="movie-card">

                <div>
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/upcoming-4.png'%}"
                      alt="The Unbearable Weight of Massive Talent movie poster">
                  </figure>
                </div>

                <div class="title-wrapper">
                  <div>
                    <h3 class="card-title">The Unbearable Weight of Massive Talent</h3>
                  </div>

                  <time datetime="2022">2022</time>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="about-section">
        <h2 class="h2 section-title">About us</h2>

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="h2 about-subtitle">We are your go-to solution.</h2>
  
              <p class="about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor fugit vero eius magnam? Quis, illo quas quia quo quaerat error nihil non. Natus inventore eum labore quasi velit fuga.
                Repellat velit facilis nobis, fugiat maxime, culpa dolor aliquid quam neque molestias debitis consequuntur quia consequatur! Corrupti excepturi placeat sunt sed provident voluptas doloribus, quia, asperiores adipisci expedita ex officia!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minus, id esse quo accusamus, atque repellendus, incidunt praesentium molestias nesciunt veritatis corporis sed nihil beatae illum harum libero eum! Aspernatur.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus tempora nulla deleniti earum ullam adipisci, laudantium rerum, nemo ea nostrum neque. Aliquam odio voluptatibus eligendi necessitatibus similique quis, aperiam pariatur.
                Ea necessitatibus dolorum odio debitis nesciunt. Corrupti deleniti quas in nisi aliquid est, iusto minus molestiae illum molestias libero at nam, quis unde corporis. Minus doloribus eos cupiditate. Eaque, ab!
              </p>
            </div>

            <div class="col-md-6">
              <div class="card p-4">
                <div class="row g-0 ">
                  <figure>
                    <img class="img-fluid rounded-start" src="{% static 'assets/images/videoediting.jpg' %}" alt="error">
                  </figure>    
                </div>
              </div>
            </div>
            
          </div>    
          


          {% comment %} <div class="service-content">
            
            <p class="service-subtitle">About us</p>

            <h2 class="h2 service-title">We are your go-to solution.</h2>

            <p class="service-text">
              {% lorem 1 b random %}
            </p>

          </div> {% endcomment %}

        </div>
      </section>






      <section class="top-rated">
        <div class="container">

          {% comment %} <p class="section-subtitle">Online Streaming</p> {% endcomment %}

          <h2 class="h2 section-title">Top Rated Projects</h2>

          <ul class="filter-list">

            <li>
              <button class="filter-btn">Movies</button>
            </li>

            <li>
              <button class="filter-btn">Music videos</button>
            </li>

            <li>
              <button class="filter-btn">Commercials</button>
            </li>

            <li>
              <button class="filter-btn">Fashion Films</button>
            </li>

          </ul>

          <ul class="movies-list">

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/movie-1.png' %}" alt="Sonic the Hedgehog 2 movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Sonic the Hedgehog 2</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">2K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT122M">122 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>7.8</data>
                  </div>
                </div> {% endcomment %}

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/movie-2.png' %}" alt="Morbius movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Morbius</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">HD</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT104M">104 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>5.9</data>
                  </div>
                </div> {% endcomment %}

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/movie-3.png' %}" alt="The Adam Project movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">The Adam Project</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">4K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT106M">106 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>7.0</data>
                  </div>
                </div> {% endcomment %}

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/movie-4.png' %}" alt="Free Guy movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Free Guy</h3>
                  </a>

                  <time datetime="2021">2021</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">4K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT115M">115 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>7.7</data>
                  </div>
                </div> {% endcomment %}

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/movie-5.png' %}" alt="The Batman movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">The Batman</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">4K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT176M">176 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>7.9</data>
                  </div>
                </div> {% endcomment %}

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/movie-6.png' %}" alt="Uncharted movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Uncharted</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">HD</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT116M">116 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>7.0</data>
                  </div>
                </div> {% endcomment %}

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/movie-7.png' %}" alt="Death on the Nile movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Death on the Nile</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">2K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT127M">127 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>6.5</data>
                  </div>
                </div> {% endcomment %}

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/movie-8.png' %}" alt="The King's Man movie poster">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">The King's Man</h3>
                  </a>

                  <time datetime="2021">2021</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">HD</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT131M">131 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>7.0</data>
                  </div>
                </div> {% endcomment %}

              </div>
            </li>

          </ul>

        </div>
      </section>







      <section class="team">
        <div class="container">

          <!-- <p class="section-subtitle">Best TV Series</p> -->

          <h2 class="h2 section-title">Team</h2>

          <ul class="movies-list">

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/Ankit_Kumar_Chauhan.jpg' %}" alt="Ankit Kumar Chauhan">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Ankit Kumar Chauhan</h3>
                  </a>

                  <time datetime="2022">Read more</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">2K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT47M">47 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>8.6</data>
                  </div>
                </div> {% endcomment %}

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/DSC03284.jpg' %}" alt="Brijesh Gupta">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Brijesh Gupta</h3>
                  </a>

                  <time datetime="2022">Read more</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">2K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT59M">59 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>8.8</data>
                  </div>
                </div>  {% endcomment %}

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/Devanshu_Mishra_HCTfrN9.jpg' %}" alt="Devanshu Mishra">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Devanshu Mishra</h3>
                  </a>

                  <time datetime="2022">Read more</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">2K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT51M">51 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>8.3</data>
                  </div>
                </div> {% endcomment %}

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="{% static 'assets/images/Kuldeep_Gautam.jpg' %}" alt="Kuldeep Gautam">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Kuldeep Gautam</h3>
                  </a>

                  <time datetime="2017">Read more</time>
                </div>

                {% comment %} <div class="card-meta">
                  <div class="badge badge-outline">4K</div>

                  <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT70M">70 min</time>
                  </div>

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>8.3</data>
                  </div>
                </div>  {% endcomment %}
              </div>
            </li>

          </ul>

        </div>
      </section>


      <section class="cta">
        <div class="container">

          <div class="title-wrapper">
            <h2 class="cta-title">Contact Us</h2>

            <p class="cta-text">
              Simply enter your email in the form opposite and let’s discuss creating something incredible together.
            </p>
          </div>

          <form action="" class="cta-form">
            <input type="email" name="email" required placeholder="Enter your email" class="email-field">

            <button type="submit" class="cta-form-btn">Get started</button>
          </form>

        </div>
      </section>

    </article>
  </main>


  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a href="./index.html" class="logo">
            <!-- <img src="./assets/images/logo.svg" alt="Filmlane logo"> -->
            <p class="hero-subtitle">TheOriginProduction</p>
          </a>

          <ul class="footer-list">

            <li>
              <a href="./index.html" class="footer-link">Home</a>
            </li>

            <li>
              <a href="#" class="footer-link">Projects</a>
            </li>

            <li>
              <a href="#" class="footer-link">About</a>
            </li>

            <li>
              <a href="#" class="footer-link">Team</a>
            </li>

            <li>
              <a href="#" class="footer-link">Pricing</a>
            </li>

          </ul>

        </div>

        <div class="divider"></div>

        <div class="quicklink-wrapper">

          <p class="copyright">
            &copy; 2022 <a href="#">TheOriginProduction</a>. All Rights Reserved
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    {% comment %} <div class="footer-bottom copybottom">
      <div class="container">
        <p class="copyright">
          &copy; 2022 <a href="#">TheOriginProduction</a>. All Rights Reserved
        </p>
      </div>
    </div> {% endcomment %}

  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="{% static 'assets/js/script.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>